.parent{
  width:100%;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.child {
  display: inline-block;
  margin-top: 40vh;
}
.logo {
  width: 140px;
}
.landingText {
  font-size: 2em;
}
